/* components-style/CandidateRank.css */
.candidate-rank-card {
    border: 1px solid #ddd;
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-radius: 8px;
    text-align: center;
    margin-left: 5rem;
    margin-right: 2re;
    width: 20vw;
  }
  
  .candidate-rank-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
  }
  
  .candidate-rank-info {
    flex-grow: 1;
  }
  
  .candidate-rank-info h2 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .candidate-rank-info p {
    margin: 0;
    color: #666;
  }
  