/* ManageDataStudent.css */
.election-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.VTitle {
    justify-content: center;
    text-wrap: wrap;
    display: flex;
    margin-bottom: 0vw;
    
}
.VTitle h1{
    margin-left: 2.5vw;
}
.VImg {
    width: 5vw;
    height: 5vw;
}
.form-group{
    margin-top: 5vw;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.button {
    margin-bottom: 20px;
    
}
.exp{
    display: flex;
    
}
.exp span{
    flex: 0 0 auto;

font-size: 18px;
}
.form-group button{
    margin-top: -3vw;
}
@media (max-width: 1000px) {
    h1{
        font-size: 5vw;
    }
    .VImg{
        width: 10vw;
        height: 10vw;
    }
    .form-group {
        text-align: center;
    }
}
