.results-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.result-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.result-img {
  max-width: 100%;
  height: auto;
}

.result-title h1 {
  font-size: 24px;
  margin-top: 10px;
  text-align: center;
}

.election-results {
  display: flex;
  width: 70rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5vw 5vw 0vw 20vw;
}
.eRe {
  justify-content: center;
  display: grid;
}
.chart-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.chart-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.canImg {
  max-width: 40%;
}
.legend {
  flex-direction: column;
  margin-top: 10px;
}

.legend div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend div span {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
}

.candidates-container {
  margin-left: 10rem;
}

.candidate {
  width: 60%;
  color: #fff;
}

.candidate-rank {
  font-size: 24px;
  margin-right: 10px;
}

.candidate-info {
  display: flex;
  flex-direction: column;
}

.candidate-name {
  font-size: 18px;
  font-weight: bold;
}

.candidate-votescount {
  font-size: 20px;
  color: white;
}
.Result {
  justify-content: center;
  flex-wrap: wrap;
}

.ResultName {
  text-align: center;
  font-size: 1.1vw;
}
.Notoff {
  display: flex;
  justify-content: center;
  margin-bottom: -7vw;
}

.ReImg {
  width: 15vw;
  height: 15vw;
}
.candidates-container .candidate {
  transition: transform 500s ease;
}
.candidate {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
}

.candidate-rank {
  font-weight: bold;
  margin-right: 10px;
}

.candidate-info {
  position: relative;
}

.candidate-name {
  position: relative;
  z-index: 1;
}
@media (max-width: 1300px) {
    .candidates-container {
        margin-left: 5rem;
      }
    .election-results {
        width: 50rem;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 5vw 5vw 0vw 5vw;
      }

      .chart-container {
        position: relative;
        width: 300px;
        height: 300px;
      }
      
      .chart-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 18px;
        font-weight: bold;
      }
  }
@media (max-width: 1000px) {
  .RTitle h1 {
    font-size: 3vw;
  }
}
