.VTitle{
    justify-content: center;
    text-wrap: wrap;
    display: flex;
}
.VImg{
    width: 5vw;
    height: 5vw;
}
.Votename{
margin-left: 2vw;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.submitButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #8B0000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
